@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Monsterrat', sans-serif;
  background: linear-gradient(to bottom right, #eaa2b9, #fde1dd);
  margin: 0;
}

.pink {
  color: #d2c2c9;
}

.white {
  color: white;
}

nav {
  margin: 0;
  padding: 0;
}

.grey {
  background-image: url(../images/line-long.svg);
  background-repeat: no-repeat;
  background-position: 0;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
  text-align: right;
}

nav ul a:hover {
  color: white;
  background-image: url(../images/line.svg);
  background-repeat: no-repeat;
  background-position: 10px 0;
}

.logo {
  max-height: 50px;
  float: left;
  position: relative;
  left: 50px;
}

.btn-banner {
  display: block;
  position: absolute;
  right: 75px;
  top: 75%;
}

.banner {
  min-width: 1000px;
  margin-left: -50%;
  margin-right: 50%;
}

.banner-link:hover .btn-banner {
  color: white;
  background-color: #eaa2b9;
}

.btn {
  background-color: #0f0000;
  border: none;
}

.thicc {
  background-image: url(../images/line-thicc.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.long {
  background-image: url(../images/line-long.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2000px;
}

h1 {
  text-align: center;
  color: #fde1dd;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: normal;
}

h5 {
  text-align: center;
  font-weight: 100;
  font-size: .75em;

}

ul {
  margin-right: 25px;
  list-style-type: none;
}

ul li {
  display: block;
  float: right;
  margin-top: 20px;
  padding-left: 25px;
  font-size: 1.5em;
  color: white;
  list-style-type: none;
}

.bio-text {
  text-align: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

footer h4 {
  color: white;
}

footer {
  text-align: center;
}

footer li a {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}

footer li a:hover {
  color: #fde1dd;
}

footer li{
  text-align: center;
}

@media only screen and (min-width: 38em) {

  nav {
    font-size: .75em;
  }

.banner {
    margin-left: auto;
    margin-right: auto;
  }

  nav .select {
    display: none;
  }
}

.port-list {
  margin: .5em;
  padding: .5em;
  display: inline-block;
  list-style: none;
}

.text-center {
  text-align: center;
}

.info-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.img-hover-grey {
  filter: grayscale(97%);
  transition: all .1s linear;
}

.img-hover-grey:hover {
  filter: grayscale(0);
  transform: scale(0.97);
}

p a{
  text-decoration: none;
  color: #eaa1b1;
  transition: all 200ms linear;
}

p a:hover {
  text-decoration: none;
  color: #d2c2c9;
}

.zyra {
  max-width: 800px;
  width: 100%;
}

.div-shadow {
  box-shadow: 5px 2px 20px black;
}
