@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Monsterrat', sans-serif;
  /*background: linear-gradient(to bottom right, #eaa1b2, #f7d4dd);*/
  background-color: #eaa1b2;
  margin: 0;
}

.pink {
  color: #eaa1b2;
}

.white {
  color: white;
}

.ltpink {
  color: #fde1dd;
}

.bggrey {
  background-color: lightgrey;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #eaa1b2;
  border-bottom: 1px dashed #fde1dd;
}

nav ul li a img {
  display: block;
  padding: 0;
}

.centre {
  margin: 0 auto;
  padding: 0 12px;
}

nav ul {
  text-align: center;
}

ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
  display: inline-block;
  font-size: 1em;
  padding: 8px;
  margin: 0;
}

nav ul a:hover {
  background-color: #f7d4dd;
  border-radius: 10px;
  padding: 8px;
}

.logo {
  max-width: 90px;
  max-height: 50px;
}

.centre {
  margin: 0 auto;
}

.btn-banner {
  display: block;
  position: absolute;
  right: 75px;
  top: 75%;
}

.banner {
  min-width: 1000px;
  margin-left: -50%;
  margin-right: 50%;
}

.banner-link:hover .btn-banner {
  color: white;
  background-color: #eaa1b2;
}

.btn {
  background-color: #0f0000;
  border: none;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
}

h4 {
  font-size: 1em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: normal;
}

h5 {
  text-align: center;
  font-weight: 100;
  font-size: .75em;

}

ul {
  margin-right: 25px;
  list-style-type: none;
}

.bio-text {
  text-align: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #eaa1b2;
  max-height: 300px;
  border-top: 1px dashed #fde1dd;
}

footer p {
  padding: 0;
  margin: 0;
}

footer li a {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}

footer li a:hover {
  color: #fde1dd;
}

footer li{
  text-align: center;
}

.main {
  height: 450px;
}

.face {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.port-list {
  margin: 0 auto;
  display: inline-block;
}

video {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

input, textarea {
  border: 1px solid lightgrey;
  border-radius: 10px;
  color: grey;
  width: 100%;
}

.max-length {
  max-width: 500px;
}

button {
  color: grey;
  background-color: white;
  border: none;
  margin: 0 auto;
}

button:hover {
  background-color: #fde1dd;
}

@media only screen and (min-width: 25em) {

  nav {
    font-size: 1.2em;
  }

  .centre {
    margin-top: 0;
  }

  .logo {
    max-width: 115px;
  }
}

@media only screen and (min-width: 38em) {

  nav {
    font-size: 1em;
  }

  nav img {
    margin: 0;
  }

  .banner {
    margin-left: auto;
    margin-right: auto;
  }

  .detail {
    max-width: 300px;
    margin: 0 10px;
    padding: 10px;
  }

  .main {
    height: 600px;
  }

  .logo {
    max-width: 128px;
  }
}

@media only screen and (min-width: 38em){

  nav {
    font-size:
  }

  .port-list {
    margin: .5em;
    padding: .5em;
    display: inline-block;
    list-style: none;
  }
}

.text-center {
  text-align: center;
}

.centre-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.img-hover-grey {
  filter: grayscale(97%);
  transition: all .1s linear;
}

.img-hover-grey:hover {
  filter: grayscale(0);
  transform: scale(0.97);
}

p a{
  color: white;
  transition: all 200ms linear;
  border-bottom: 2px solid #eaa1b2;
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
  color: #eaa1b2;
}

.zyra {
  max-width: 700px;
  width: 100%;
}

.logoport {
  max-width: 500px;
  width: 100%;
}

.detail {
  max-width: 300px;
  padding: 10px;
}
