@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #3d3d5c;
}

.light-blue {
  background-color: #0a0a0f;
}

.purple {
  color: #7676a2;
}

.white {
  color: white;
}

nav {
  background-color: #3d3d5c;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}

ul a:hover {
  background-position: 20px 0;
  background-image: url(../images/line-3.svg);
  background-repeat: no-repeat;
  color: #d3dde7;
}

nav img {
  position: absolute;
}

.btn-banner {
  display: block;
  position: absolute;
  right: 75px;
  top: 75%;
}

.banner {
  min-width: 1000px;
  margin-left: -50%;
  margin-right: 50%;
}

.banner-link:hover .btn-banner {
  color: white;
  background-color: #0a0a0f;
}

.btn {
  background-color: #34344c;
  border: none;
}

.line {
  border-left: solid 15px white;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

h5 {
  text-align: center;
  font-weight: 100;
  font-size: .75em;

}

ul {
  margin-right: 25px;
}

ul li {
  display: block;
  float: right;
  margin-top: 20px;
  padding-left: 25px;
  font-size: 1.5em;
  color: white;
}

.bio-text {
  text-align: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #0a0a0f;
}

footer h4 {
  color: white;
}

footer a {
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}

footer a p:hover {
  color: #7676a2;
  background-repeat: no-repeat;
  background-position: 160px -5px;
}

@media only screen and (min-width: 38em) {

  nav {
    font-size: .75em;
  }

.banner {
    margin-left: auto;
    margin-right: auto;
  }

  nav .select {
    display: none;
  }
}

.port-list {
  margin: .5em;
  padding: 0;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.info-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.img-hover-grey {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.img-hover {
  background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5));
  transition: all .2s linear;
}

.img-hover-grey:hover {
  filter: grayscale(0);
  transform: scale(0.98  );
}

p a{
  text-decoration: none;
  color: #90aec2;
  transition: all 200ms linear;
}

p a:hover {
  text-decoration: none;
  color: #081b32;
}

.zyra {
  max-width: 1000px;
  width: 100%;
}

.div-shadow {
  box-shadow: 5px 2px 20px black;
}

.selected {
  background-position: 20px 0;
  background-repeat: no-repeat;
  color: #d1d1e0;
}

.selected:hover {
  color: white;
  text-decoration: none;
  transition: all 200ms linear;
}
