<nav>
  <div class="grid">
    <div class="unit xs-1-2 m-1-2">
      <a class="pad-t-1-4 gutter" href="{{site.baseurl}}/index.html/">
        <img itemprop="image" class="i-128 logo" src="{{site.baseurl}}/images/logo.svg" alt="Logo">
      </a>
    </div>
    <div class="unit xs-1-2 m-1-2">
      <input type="checkbox" id="nac-check">
      <label class="nac-check" for="nac-check"><img href="Toggle Nav" src="{{site.baseurl}}/images/toggle.svg"></label>
      <div class="toggle nav">
        <ul class="list-group pad-t-1-2">
          <li>
            <a class="" href="{{site.baseurl}}/photo/">
              photography
            </a>
          </li>
          <li>
            <a class="" href="{{site.baseurl}}/port-page/">
              artwork
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
