<nav class="long">
  <div class="grid">
    <div class="unit xs-1-2 m-1-2">
      <a class="pad-t-1-4 gutter" href="{{site.baseurl}}/index/">
        <img itemprop="image" class="i-128 logo" src="{{site.baseurl}}/images/logo.svg" alt="Logo">
      </a>
    </div>
    <div class="unit xs-1-2 m-1-2">
      <a href="#menu" id="toggle"><span></span></a>
      <div id="menu">
        <ul class="list-group pad-t-1-2">
          <li>
            <a class="center gutter" href="{{site.baseurl}}/photo/">
              photography
            </a>
          </li>
          <li>
            <a class="center gutter" href="{{site.baseurl}}/port-page/">
              artwork
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
