<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Jordana Cardinal - Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio website for Jordana Cardinal that includes video editing projects, Adobe Illustrator illustrations, photography (some edited with Adobe Photoshop) and other various graphic design works.">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
</head>
<body class="{{page.bodyClass}}">

  {{content}}

  <footer class="pad-b push-0">
    <div class="">
      <h3 class="pad-t pad-b gutter">this should be a little more helpful so you can get back to looking at stuff</h3>
      <ul class="grid list-group inline-block">
        <div class="unit xs-1 m-1-2">
          <li class="xs-1 m-1-2 pad-t-1-4">
            <a class="inline-block gutter" href="#">
              back to home page
            </a>
          </li>
          <li class="xs-1 m-1-2 pad-t-1-4">
            <a class="inline-block gutter" href="{{site.baseurl}}/port-page/">
              see my artwork
            </a>
          </li>
        </div>
        <div class="unit xs-1 m-1-2">
          <li class="xs-1 m-1-2 pad-t-1-4">
            <a class="inline-block gutter" href="{{site.baseurl}}/photo/">
              check out my photos
            </a>
          </li>
          <li class="xs-1 m-1-2 pad-t-1-4">
            <a class="inline-block" href="https://vimeo.com/user36766462">
              peruse my vimeo
            </a>
          </li>
        </div>
      </ul>
    </div>
  </footer>

</body>
</html>
