<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Jordana Cardinal - Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio website for Jordana Cardinal that includes video editing projects, Adobe Illustrator illustrations, photography (some edited with Adobe Photoshop) and other various graphic design works.">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
</head>
<body class="{{page.bodyClass}}">
  <head>
    {%  include nav.html %}
  </head>

  {{content}}

  <footer>
    <div class="wrapper">
      <h4 class="pad-t">Contact Information</h4>
      <div class="grid">
        <div class="unit xs-1 m-1-2 l-1">
          <ul class="list-group inline-block">
            <li>
              <a class="inline-block" href="{{site.baseurl}}/photo/">
                Photography
              </a>
            </li>
            <li>
              <a class="inline-block" href="{{site.baseurl}}/port-page/">
                Artwork
              </a>
            </li>
            <li>
              <a class="inline-block" href="#">
                Email
              </a>
            </li>
            <li>
              <a class="inline-block" href="https://vimeo.com/user36766462">
                Vimeo
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
