<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Jordana Cardinal - Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio website for Jordana Cardinal that includes video editing projects, Adobe Illustrator illustrations, photography (some edited with Adobe Photoshop) and other various graphic design works.">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
</head>
<body class="{{page.bodyClass}}">
  <head>
    {%  include nav.html %}
  </head>

  {{content}}

  <footer>
    <div class="wrapper long">
      <h4 class="pad-t">Contact Information</h4>
      <div class="grid">
        <div class="unit xs-1-4">
          <ul class="list-group left">
            <li>
              <a href="{{site.baseurl}}/photo/">
                photography
              </a>
            </li>
            <li>
              <a href="{{site.baseurl}}/port-page/">
                artwork
              </a>
            </li>
          </ul>
        </div>
        </div>
        <div class="xs-1 m-1-2 unit gutter center">
          <a href="#"><p class="push-0 pad-b-1-2">Email</p></a>
          <a href="#"><p class="push-0 pad-b-1-2">Vimeo</p></a>
          <a href="#"><p class="push-0 pad-b-1-2">Twitter</p></a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
