<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Jordana Cardinal - Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio website for Jordana Cardinal that includes video editing projects, Adobe Illustrator illustrations, photography (some edited with Adobe Photoshop) and other various graphic design works.">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
  <style>
    .mySlides {display:none}
  </style>
</head>
<body class="{{page.bodyClass}}">
  <header>
    {%  include nav.html %}
  </header>

  {{content}}

  <footer class="pad-b-2 push-0">
    <h3 class="pad-t-1-2 push-0 small">( call me, beep me )</h3>
    <h4 class="gutter text-center push-0 small">email directly: histrangerbusiness@gmail.com</h4>
    <div class="grid xs-1 text-center center-content pad-t-1-2">
      <div class="unit xs-1 form">
        <form class="pad-b gutter-2 grid max-length pad-t-1-2" method="post" action="https://formspree.io/histrangerbusiness@gmail.com">
          <h3 class="unit xs-1 push-0 pad-b-1-2">( If you want to reach me )</h3>
          <div class="unit push xs-1 m-1-2 gutter-1-2">
            <label class="text-center white" for="email">Name</label>
            <input class="text-center micro" placeholder="Jane Doe" id="name" required>
          </div>
          <div class="unit xs-1 m-1-2 gutter-1-2">
            <label class="text-center white" for="email">Email</label>
            <input class="text-center micro" type="email" placeholder="blank@email.com" id="email" required>
          </div>
          <div class="unit push xs-1">
            <label class="white" for="details">send me a message</label>
            <textarea id="details" name="message">
            </textarea>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div>
      <p class="ltpink push-1-2 micro push-0">Copyright © 2018 Jordana Cardinal</p>
    </div>
  </footer>

</body>
</html>
